<!DOCTYPE html>
<html ng-app="Cinema">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/angular-material")
</head>
<body>
    <div ng-controller="demo" ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="50" flex>
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Cinemas</span>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="cinema in cinemas" class="noright">
                    <p>{{cinema.Name}}</p>
                </md-list-item>
            </md-list>
        </div>
    </div>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-aria")
    @Scripts.Render("~/bundles/angular-animate")
    @Scripts.Render("~/bundles/angular-material")
    @Scripts.Render("~/bundles/angular-resource")
        <script src="~/Scripts/CinemaModule.js"></script>
</body>

</html>
